h1 {color:red;font-size: 100px;}
.title{text-align: center;}
.background{}
img {}
nav {float:right;}
a{margin:3px;color:black;}
body {background-color:#8cd9d9;}
.items {margin-bottom: 20px;}
.navbar {background-color:#81b3e4;}
.titlebar {background-color:#81b3e4;}
.panel-header {background-color:#81b3e4;}
.panel {width:100%;}
h4{text-align: center}
.img-rounded {float:left;width:100%;margin:5px;border:2px solid #ooo;}
.img-rounded:hover{border-color:red;border:2px solid red;}
.scroll{height:100%;}
.container{width:100%;}

body
{         
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}