#red{
	margin-left:40px;
	float:left;
	height: 100px;
background-image:"assets/images/red.png";
}

#blue{
	float:left;
height: 100px;
background-image:"assets/images/blue.png";
}

#green{
	float:left;
height: 100px;
background-image:"assets/images/green.png";
}

#yellow{
	float:left;
height: 100px;
background-image:"assets/images/yellow.png";
}

/*body{ background:"assets/images/background_img.jpg"; }*/

img {height:100%; width:100px; margin:10px;}



h1{
	text-align:center;
	font-size:50px;
}

panel-

.normalfont {

	text-align:center;
	font-size:20px;
}



#begin {text-align: center;}

.panel{margin:10px;}
.panel div{text-align:center;font-size:25px;}

.main {text-align: center;}
.col-sm-3{text-align: center;}
/*//sound*/
#boss{
	top:0;
	left:0;
	position:fixed;
	z-index:99;
}
#adjust, #sound, #next, #track{
	width:30px;
	height:30px;
	margin:10px;

}
#adjust{

}
/*#sound{
	top:0;
	left:0;
}*/
#next{
/*	top:150;
	left:150;*/
}
/*#track{
	top:150;
	left:0;
}*/

.col-sm-6{margin:0px;}
.col-sm-4 > div, .col-sm-4 > button{margin:auto;}
/*@media only screen and (max-width: 680px) {
    .minipanel {
        width:600px;
    }
}*/

.panel-default > .panel-custom {
	background: #ff0000; color: #fff;
}
