body{

	background-image: url(../images/blue.jpg);
}



#functiontable{
	background-color: black;
	border-style: solid;
	border-width:1px;
}
h1 {
	text-align: center;
	font-family: 'Poiret One', cursive;
	color: white;
	font-size: 60px;
}

h3{font-family: 'Poiret One', cursive;
background-color: black;
width: 350px;
height: 60px;
text-align:  center;
margin-left: auto;
margin-right: auto;
color: #0066ff;
border-style: solid;
border-color: #0066ff;
border-width: 1px;
padding-top: 10px;
}
.head{
	color: #0066ff;

}

table {



	font-family: 'Poiret One', cursive;


}
.jumbotron{
	margin-left: auto;
	margin-right: auto;

	background-color: transparent;

	color: white;
}
th{
	background-color: black;
	font-size: 20px;
}
#functionButton{
	color: white;
	background-color: black;
	border-radius: 10px;

	border-color: #0066ff;


	cursor:pointer;

}
#submitbutton{
	color: white;

	border-radius: 10px;
	background-color: black;
	border-color: #0066ff;
	border-style: solid;
}

#submitbutton:hover {
	background-color: #0066ff;
}

#functionButton:hover {
	background-color: #0066ff;
}





a {
	color: #0066ff;	
	text-decoration: underline;
	cursor: pointer;
}
.odd:hover {
    background-color: #0066ff;
color: black;
}


.even:hover {
    background-color: #0066ff;
color: black;
}



#searchterm{
	color: #0066ff;
font-family: 'Poiret One', cursive;
font-size: 20px;
}

#buttonArea{
	color: #0066ff;
}

#theTable_info{

	color: #0066ff
}

#theTable_wrapper{
	background-color: black;
}
label{
	color: #0066ff;
	font-family: 'Poiret One', cursive;
	font-size: 20px;

}
#tbody{
	font-family: 'Poiret One', cursive;
	font-size: 20px;
	background-color: black;
	color: #0066ff;
}
.fa {
	font-size: 30px;
	margin-left:5px;
	color:black;
	color:#403E2F
}

.fa-youtube-square:hover {
	color:red;
	transition:.3s;
}

.fa-reddit-square:hover {
	color:#5bc0de;
	transition:.3s;
}

.fa-stack-overflow:hover {
	color:orange;
	transition:.3s;
}

